In [1]:
import pandas as pd
path = "C:/Users/Tandoi/Desktop/labhuawei-master/labhuawei-master/Price/1_Huawei_P30_Pro.csv"
data = pd.read_csv(path)
data.head()

            Date    Price
0  1553641200000  1014.95
1  1553727600000  1011.69
2  1553814000000  1007.26
3  1553900400000  1008.79
4  1553986800000  1008.79

In [2]:
def convert(date):
    from datetime import datetime
    return datetime.utcfromtimestamp(int(date)/1000.0).strftime('%Y-%m-%d')
    return None

data['Date2'] = data['Date'].apply(convert)
data.head()

            Date    Price       Date2
0  1553641200000  1014.95  2019-03-26
1  1553727600000  1011.69  2019-03-27
2  1553814000000  1007.26  2019-03-28
3  1553900400000  1008.79  2019-03-29
4  1553986800000  1008.79  2019-03-30

In [3]:
delta = data['Price'].pct_change()*100
print(delta.head())

0         NaN
1   -0.321198
2   -0.437881
3    0.151897
4    0.000000
Name: Price, dtype: float64

In [4]:
start_date = '2019-05-13'
end_date = '2019-05-31'

In [5]:
filter_date = (data['Date2'] > start_date) & (data['Date2'] <= end_date)
data = data.loc[filter_date]
data.head()

             Date   Price       Date2
49  1557871200000  920.93  2019-05-14
50  1557957600000  922.46  2019-05-15
51  1558044000000  920.00  2019-05-16
52  1558130400000  919.42  2019-05-17
53  1558216800000  920.09  2019-05-18

In [7]:
data['delta'] = delta

In [13]:
data.head()

             Date   Price       Date2     delta
49  1557871200000  920.93  2019-05-14 -0.314990
50  1557957600000  922.46  2019-05-15  0.166136
51  1558044000000  920.00  2019-05-16 -0.266678
52  1558130400000  919.42  2019-05-17 -0.063043
53  1558216800000  920.09  2019-05-18  0.072872

## codice completo

In [ ]:
import pandas as pd
path = "C:/Users/Tandoi/Desktop/labhuawei-master/labhuawei-master/Price/1_Huawei_P30_Pro.csv"
data = pd.read_csv(path)

def convert(date):
    from datetime import datetime
    return datetime.utcfromtimestamp(int(date)/1000.0).strftime('%Y-%m-%d')
    return None

data['Date2'] = data['Date'].apply(convert)

delta = data['Price'].pct_change()*100

start_date = '2019-05-13'
end_date = '2019-05-31'
filter_date = (data['Date2'] > start_date) & (data['Date2'] <= end_date)
data = data.loc[filter_date]

data['delta'] = delta
data.head()